@model IEnumerable<BaseUser>
<!doctype html>

@section links {
    <link rel="stylesheet" href="~/css/user/Users.css" />
}
<section class="wrapper">
    <section class="modelList">
        <h2>User list</h2>
        @foreach (var user in Model)
        {
            <div class="user_item">
                <div class="user_title">
                    <span><a href="~/SingleUser?id=@user.Id">User №@user.Id</a></span>
                </div>
                <div class="user_description">
                    <div class="user_profile">
                        <p>Id: @user.Id</p>
                        <p>Name: @user.Name</p>
                        <p>Email: @user.Email</p>
                        <p>Password: @user.Password</p>
                        <p>Role: @user.Role.RoleName</p>
                    </div>
                    <div class="user_bet_profile">
                        @if (user.BanState)
                        {
                            <p>BANNED</p>
                        }
                        else
                        {
                            <p>NOT BUNNED</p>
                        }
                    </div>
                    <div class="user_under_actions">
                        <form action="~/SingleUser" method="get">
                            <input type="hidden" name="id" value="@user.Id" />
                            <input type="hidden" name="role" value="@user.Role.RoleName" />
                            <input type="submit" value="Full proile" />
                        </form>
                        <form action="~/User/BanUser" method="get">
                            <input type="hidden" name="id" value="@user.Id" />
                            @if (!user.BanState)
                            {
                                <input type="submit" value="Ban user" />
                            }
                            else
                            {
                                <input type="submit" value="Unban user" />
                            }
                        </form>
                        <form action="~/User/DeleteUser" method="get">
                            <input type="hidden" name="id" value="@user.Id" />
                            <input type="submit" value="Delete user" />
                        </form>
                    </div>
                </div>
            </div>
        }
    </section>
    <section class="new_user">
        <h2>Create User</h2>
        <form class="register_form" asp-controller="User" asp-action="Create" method="post">
            <div class="name">
                <label for="u_name">Name</label>
                <input type="text" for="u_name" name="name" />
            </div>
            <div class="email">
                <label for="u_email">Email adress</label>
                <input type="text" id="u_email" name="email" />
            </div>
            <div class="password">
                <label for="u_password">Password</label>
                <input type="password" id="u_password" name="password" />
            </div>
            <div class="user_role">
                <label for="u_role">Choose Role</label>
                <select id="u_role" name="roleId">
                    @foreach (UserRole role in RegisterViewModel.GetUserRoles())
                    {
                        <option value=@role.Id>@role.RoleName</option>
                    }
                </select>
            </div>
            <div class="sign_in_button">
                <input type="submit" value="Create" />
            </div>
        </form>
    </section>
</section>
@section scripts {
    <script>
        $(".user_title").click(function () {
            /*$(this).parent(".user_item").children(".user_description").slideToggle()*/
            $(this).next(".user_description").slideToggle()
        })
    </script>
}
