@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Bookmaker
@section links {
    @*<link href="~/css/Index.css" rel="stylesheet" type="text/css" />*@
}
<section class="wrapper">

    <h3>User №@Model.Id</h3>

    <section class="bookmaker_description">
        @*<section class="user_profile">
                <form class="user_profile_form">
                    <div class="user_name">
                        <label for="u_name">User name</label>
                        <input type="text" id="u_name" name="name" />
                    </div>
                    <div class="user_email">
                        <label for="u_email">User email</label>
                        <input type="text" id="u_email" name="email" />
                    </div>
                    <div class="user_password">
                        <label for="u_password">User password</label>
                        <input type="password" id="u_password" name="passwords" />
                    </div>
                    <input type="submit" value="Save changes" />
                </form>

                <div>User Ban State : @Model.BanState</div>
                <button action="~/User/BanUser">Bun user</button>
            </section>*@

        <section class="user_bet_profile">
            <section class="user_bets">
                <h2>User bet history</h2>
                <table class="bet_history">
                    <tr>
                        <th>Race Id</th>
                        <th>Race Date</th>
                        <th>Race Participant id</th>
                        <th>Horse Name</th>
                        <th>Horse Age</th>
                        <th>Number</th>
                        <th>Position</th>
                        <th>Bet Type</th>
                    </tr>
                    @foreach (var bookmakerBet in Model.BookmakerBets)
                    {
                        <tr>
                            <td>@bookmakerBet.RaceParticipantBet.RaceParticipant.Race.Id</td>
                            <td>@bookmakerBet.RaceParticipantBet.RaceParticipant.Race.RaceDate</td>
                            <td>@bookmakerBet.RaceParticipantBet.RaceParticipant.Id</td>
                            <td>@bookmakerBet.RaceParticipantBet.RaceParticipant.Horse.Name</td>
                            <td>@bookmakerBet.RaceParticipantBet.RaceParticipant.Horse.Age</td>
                            <td>@bookmakerBet.RaceParticipantBet.RaceParticipant.Number</td>
                            <td>@bookmakerBet.RaceParticipantBet.RaceParticipant.Position</td>
                            <td>@bookmakerBet.RaceParticipantBet.RaceBetType.RaceBetTypeName</td>
                        </tr>
                        <tr>
                            <table>
                                <tr>
                                    <th>coefficient</th>
                                    <th>bet sum</th>
                                    <th>possible win</th>
                                    <th>status</th>
                                </tr>
                                @foreach (var userBet in bookmakerBet.UserBets)
                                {
                                    <tr>
                                        <td>@userBet.BookmakerBet.Coefficient</td>
                                        <td>@userBet.BetSum</td>
                                        <td>@userBet.PossibleWinSum</td>
                                        <td>@userBet.BetStatus</td>
                                    </tr>
                                }
                            </table>

                        </tr>
                    }
                </table>

            </section>
            <section class="profile_summary">
                <h2>Summary</h2>
                <div>User money balance : @Model.MoneyBalance</div>
            </section>

        </section>

    </section>
</section>