@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model User
@section links {
    <link rel="stylesheet" href="~/css/user/SingleUser.css" />
}
<section class="wrapper">

    <h3>User №@Model.Id</h3>

    <section class="user_description">
        <section class="user_profile">
            <form class="user_profile_form" asp-controller="Account" asp-action="Update" method="post">
                <input type="hidden" name="id" value="@Model.Id" />
                <div class="user_name">
                    <label for="u_name">User name</label>
                    <input type="text" id="u_name" name="name" value="@Model.Name"/>
                </div>
                <div class="user_email">
                    <label for="u_email">User email</label>
                    <input type="text" id="u_email" name="email" value="@Model.Email" />
                </div>
                <div class="user_password">
                    <label for="u_password">User password</label>
                    <input type="password" id="u_password" name="password" value="@Model.Password" />
                </div>
                <input type="submit" value="Save changes" />
            </form>
            
            <div>User Ban State : @Model.BanState</div>
            <button action="~/User/BanUser">Bun user</button>
        </section>

        <section class="user_bet_profile">
            <section class="user_bets">
                <h2>User bet history</h2>
                <table class="bet_history">
                    <tr>
                        @*<th>Race Id</th>
                        <th>Race Date</th>
                        <th>Race Participant id</th>
                        <th>Horse Name</th>
                        <th>Horse Age</th>
                        <th>Number</th>
                        <th>Position</th>
                        <th>Bet Type</th>
                        <th>Bookmaker name</th>
                        <th>coefficient</th>
                        <th>bet sum</th>
                        <th>possible win</th>
                        <th>status</th>*@

                    </tr>
                    @*@foreach (var userBet in Model.UserBets)
                    {
                    <tr>
                        <td>@userBet.BookmakerRaceBet.Race.Id</td>
                        <td>@userBet.BookmakerRaceBet.Race.RaceDate</td>
                        <td>@userBet.BookmakerRaceBet.Race.RaceStatus</td>
                        <td>@userBet.BookmakerRaceBet.Bookmaker.Name</td>
                        <td>@userBet.UserBetType.Name</td>


                        @foreach (var bookmakerBet in userBet.BookmakerBets)
                        {
                            <td>@bookmakerBet.RaceParticipant.Horse.Name</td>
                            <td>@bookmakerBet.RaceParticipant.Horse.Age</td>
                            <td>@bookmakerBet.RaceParticipant.Number</td>
                            <td>@bookmakerBet.RaceParticipant.Position</td>
                        }

                        <td>@userBet.Coefficient</td>
                        <td>@userBet.BetSum</td>
                        <td>@userBet.PossibleWinSum</td>
                        <td>@userBet.BetStatus</td>
                    </tr>
                    }*@
                </table>
                
            </section>
            <section class="profile_summary">
                @*<h2>Summary</h2>
                <div>User money balance : @Model.MoneyBalance</div>
                <div>User bet count : @Model.BetCount</div>
                <div>User win bet count : @Model.WinBets</div>
                <div>User loose bet count : @Model.LooseBets</div>*@
            </section>
            
        </section>

    </section>
</section>