<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/_Layout.css" />
    @RenderSection("Links", required: false)
    
</head>
<body>
    <header>
        <section class="site_title">
            <img class="logo" src="~/img/head-horse.png" />
            <h1>HBet</h1>
        </section>
        <section class="header_menu">
            <nav>
                <ul>
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/UserList">User</a></li>
                    <li><a href="~/Horse/Index">Horses</a></li>
                    <li><a href="~/Race/Index">Races</a></li>
                </ul>
            </nav>
        </section>
        <section class="user_identity">
            @if (!Context.User.Identity.IsAuthenticated)
            {
                <p>@Html.ActionLink("Sign in", "Login", "Account")</p>
                <p>@Html.ActionLink("Sign up", "Register", "Account")</p>
            }
            else
            {
                string strIdentifier = User.FindFirst(u => u.Type == System.Security.Claims.ClaimsIdentity.DefaultNameClaimType).Value;
                <a asp-controller="Account" asp-action="ShowProfile" asp-route-strIdentifier="@strIdentifier">@Context.User.Identity.Name</a>
                <p>@Html.ActionLink("Logout", "Logout", "Account")</p>
            }
        </section>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div>Footer</div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
