@model List<Horse>
@section links {
    <link rel="stylesheet" type="text/css" href="~/css/Race/AddRace.css" />
}
<section class="create_race_wrapper">
    <section class="race_data">
        <input type="datetime-local" name="datetime" />
        <button id="CreateRace" onclick="CreateRace()">Create Race</button>
        
        <input type="number" id="partcipant_count" name="partcipant_count"/>
        <button onclick="AddRandomHorses(partcipant_count.value)">Add random horses</button>
        <p id="error_message"></p>
        <h4>Race participants</h4>
        <table id="rp">
            <tr>
                <th>Horse Id</th>
                <th>Horse Name</th>
                <th>Horse Age</th>
                <th>Number</th>
            </tr>
        </table>
    </section>
    <section class="horses_to_add">
        <table class="horses">
            <tr>
                <th>№</th>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                Horse horse = Model[i];
                <tr>
                    <td>@(i + 1)</td>
                    <td>@horse.Id</td>
                    <td>@horse.Name</td>
                    <td>@horse.Age</td>
                    <td><button name="add_horses_to_race" onclick="CreateRaceParticipant(@horse.Id, '@horse.Name', @horse.Age)">Add Horse</button></td>
                </tr>
            }
        </table>
    </section>
</section>
<script>

    var raceParticipants = []
    var allHorseCount = @Model.Count;

    function AddRandomHorses(number) {
        if (number > allHorseCount) {
            $("#error_message").text("input value is more than all horses count");
            return;
        }
        $("#error_message").text('');
        $.ajax({
            type: "GET",
            url: "/Race/AddRandomHorsesForCreatingRace",
            data: { horseNumber : number },
            success: function (horseList) {
                console.log(horseList);
                for (let i = 0; i < horseList.length; i++) {
                    CreateRaceParticipant(horseList[i].id, horseList[i].name, horseList[i].age);
                }
            }
        })
    }

    function CreateRaceParticipant(horseId, horseName, horseAge) {

        var raceParticipant = { 'HorseId': horseId, number: horseId };
        raceParticipants.push(raceParticipant);

        var raceParticipant = document.createElement("tr");

        var id = document.createElement("td");
        id.innerText = horseId;

        var name = document.createElement("td");
        name.innerText = horseName;

        var age = document.createElement("td");
        age.innerText = horseAge;

        var number = document.createElement("td");
        var numberInput = document.createElement("INPUT");
        numberInput.setAttribute("type","number");
        numberInput.setAttribute("name", "horseId");
        numberInput.setAttribute("id", horseId);
        numberInput.setAttribute("value", horseId);
        number.appendChild(numberInput);
        
        raceParticipant.appendChild(id);
        raceParticipant.appendChild(name);
        raceParticipant.appendChild(age);
        raceParticipant.appendChild(number);

        $("#rp").append(raceParticipant);
    }


    function CreateRace() {
        var datetime = $("input[type=datetime-local]").val()
        var raceParticipantsRows = $("#rp tr")
        for (let i = 1; i < raceParticipantsRows.length; i++) {
            console.log(raceParticipantsRows[i]);
            var number = raceParticipantsRows[i].children[3].firstChild.value;
            raceParticipants[i - 1].number = number;
        }
        $.ajax({
            type: "POST",
            url: "/Race/CreateRace",
            data: { datetime, raceParticipants},
            crossDomain : true,
            success: function (data) {
                window.location.href = data;
            }
        })
    }
</script>