@model RacesViewModel
@using System.Security.Claims;
@section links {
    <link rel="stylesheet" type="text/css" href="~/css/Race/Race.css" />

    <link type="text/javascript" href="~/lib/jquery/dist/jquery.js" />
}
@{
    string type = "";
    string role = "";
    if(User.Identity.IsAuthenticated)
    {
        type = User.FindFirst(u => u.Type == "type").Value;
        if(type == "user")
        {
            role = User.FindFirst(u => u.Type == System.Security.Claims.ClaimsIdentity.DefaultRoleClaimType).Value;
        }
    }
}

<section class="wrapper">

    <section class="race_list">
        @if (role == "ADMIN")
        {
            <h4 class="add_race"><a asp-controller="Race" asp-action="CreateRace">Add Race</a></h4>
        }
        @foreach (var raceViewModel in Model.racesViewModel)
        {
            <div class="race_data" id="@raceViewModel.race.Id">
                <div class="race_id" onclick="getRaceDetails(@raceViewModel.race.Id)">
                    <h4>Race №@raceViewModel.race.Id</h4>
                    <h4>Race status @raceViewModel.race.RaceStatus</h4>
                    <h4>Race Date : @raceViewModel.race.RaceDate.ToLongDateString()</h4>
                    <h4>Race Time : @raceViewModel.race.RaceDate.TimeOfDay</h4>
                </div>
                <div class="race_edit">

                    @if (role == "ADMIN")
                    {
                        <form asp-controller="Race" asp-action="StartRace" method="post">
                            <input type="hidden" name="raceId" value="@raceViewModel.race.Id" />
                            <input type="submit" value="Start" />
                        </form>
                        <form asp-controller="Race" asp-action="EndRace" method="post">
                            <input type="hidden" name="raceId" value="@raceViewModel.race.Id" />
                            <input type="submit" value="End" />
                        </form>
                        <form asp-controller="Race" asp-action="EditRace" method="post">
                            <input type="hidden" name="raceId" value="@raceViewModel.race.Id" />
                            <input type="submit" value="Edit" />
                        </form>
                        <form asp-controller="Race" asp-action="DeleteRace" method="post">
                            <input type="hidden" name="raceId" value="@raceViewModel.race.Id" />
                            <input type="submit" value="Delete" />
                        </form>
                    }
                </div>
            </div>
        }
    </section>
    <section class="race_details" id="race_details"></section>

    <section class="user_bet">
    </section>
</section>
@section scripts {
    <script>
        function getRaceDetails(raceId) {
            console.log(raceId)
            var url = '@Url.Action("ShowRaceDetails", "Race")';
            // var url = "/Race/ShowRaceDetails/" + r_id;
            $("#race_details").load(url, { raceId: raceId })
        }
    </script>
    <script>
        function MakeUserBet(bookmakerBetid) {
            var url = '@Url.Action("ShowUserBetParialView","Race")';
            //var url = "/Race/ShowUserBetParialView/" + bookmakerBetid;
            $(".user_bet").load(url, { id: bookmakerBetid })
        }
    </script>
    <script>
        function calculate_win(betSum, coefficient) {            
            $("#possible_win").text(betSum * coefficient);
        }
    </script>
}

