@model Race
@using System.Security.Claims;
@*@section links {*@
    <link rel="stylesheet" type="text/css" href="~/css/Race/RaceDetails.css" />
@*}*@
<section class="race_details_wrapper">
    <section class="race_data">
        <h5>Race №@Model.Id</h5>
        <h5>@Model.RaceDate.ToLongDateString()</h5>
        <h5>@Model.RaceDate.TimeOfDay</h5>
    </section>

    <h4>Race participants</h4>
    <section class="race_participants">
        @foreach (RaceParticipant participant in Model.RaceParticipants)
        {
            <div class="race_participant">
                <div class="data">
                    <div>@participant.Horse.Name</div>
                    <div>@participant.Horse.Age</div>
                    <div>@participant.Number</div>
                    <div>@participant.Position</div>
                </div>
                <div class="bookmaker_bets">
                    @foreach (BookmakerBet bbet in participant.BookmakerBets)
                    {
                        <div>@bbet.BookmakerRaceBet.Bookmaker</div>
                        <div>@bbet.Coefficient</div>
                    }
                </div>
            </div>
        }
        @*@foreach (RaceBetType raceBetType in Model.raceParticipantsByBetType.Keys)
            {
                <section class="race_bet">
                    <h3>@raceBetType.RaceBetTypeName</h3>
                    <table class="race_participants">
                        <tr class="race_participants_header">
                            <th>Horse Data</th>
                            <th>Bookmaker Bets</th>
                        </tr>
                        @foreach (RaceParticipantBet raceParticipantBet in Model.raceParticipantsByBetType[raceBetType])
                        {
                        <tr class="race_participant">
                            <td class="race_participant_data">
                                <p>Horse Name : @raceParticipantBet.RaceParticipant.Horse.Name</p>
                                <p>Horse Age : @raceParticipantBet.RaceParticipant.Horse.Age</p>
                                <p>Horse Number : @raceParticipantBet.RaceParticipant.Number</p>
                            </td>
                            <td class="race_participant_bookmeker_bets">
                                <div class="bookmaker_bet_header">
                                    <p>Name</p>
                                    <p>Coefficient</p>
                                </div>
                                @foreach (BookmakerBet bookmakerBet in raceParticipantBet.BookmakerBets)
                                {
                                    <div class="bookmaker_bet" onclick="MakeUserBet(@bookmakerBet.Id)">
                                        <p>@bookmakerBet.Bookmaker.Email</p>
                                        <p>@bookmakerBet.Coefficient</p>
                                    </div>
                                }

                            <section class="make_bookmaker_bet">
                                @{string role = User.Identity.IsAuthenticated ? User.FindFirst(u => u.Type == ClaimsIdentity.DefaultRoleClaimType).Value : null;}
                                @if (role == "BOOKMAKER")
                                {
                                    <div>
                                        <form asp-controller="Bookmaker" asp-action="MakeBookmakerBet" method="post">
                                            <input type="hidden" name="RaceParticipantBetId" value="@raceParticipantBet.Id" />
                                            <input type="number" name="betCoefficient" />
                                            <input type="submit" value="Make Bet" />
                                        </form>
                                    </div>
                                }
                            </section>
                            </td>

                        </tr>
                        }
                    </table>
                </section>
            }*@
    </section>
</section>
@section scripts {
    <script>
        console.log("fefesfsefes");
        function RenderElementByUserRole(role) {
            if (role == "USER") {
                var racesParticipantBet = $(".bets_with_race_participants").children();
                for (let i = 0; i < racesData.length; i++) {
                    AddRaceEditElements(racesData[i].getAttribute("id"));
                }
            }
        }

        function GetUserRole() {
            console.log("daefsefse");
            $.ajax({
                type: "GET",
                url: "/Account/GetUserRole",
                success: function (role) {
                    RenderElementByUserRole(role)
                }
            })
        }

        document.addEventListener("DOMContentLoad", GetUserRole)
    </script>
}